@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat&display=swap');

* {
  box-sizing: inherit;
}

.App {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-shrink: 0;
}

.navbar__brand {
  display: flex;
  align-items: center;
}

.navbar__logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .navbar__logo {
    animation: navbar__logo-spin infinite 20s linear;
  }
}

@keyframes navbar__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar__title {
  font-family: "Courier Prime", sans-serif;
  /* font-weight: 400; */
  /* font-size: 16px; */
  display: inline-block;
  padding: 0px 20px;
}

.navbar__items li, a {
  font-family: "Courier Prime", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f5f6f7;
  text-decoration: none;
}

.navbar__items {
  list-style: none;
}

.navbar__items li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar__items li a, .footer a {
  transition: all 0.3s ease 0s;
}

.navbar__items li a:hover, .footer a:hover {
  color: rgb(8, 199, 162);
}

.main-wrapper {
  background-color: #18191a;
  flex-grow: 1;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #f5f6f7;
}

.main-wrapper strong{
  color: rgb(8, 199, 162);
}

.main-wrapper input {
  background-color: #090a11;
  height: 40px;
  width: 50%;
  border-radius: 10px;
  border: none;
  caret-color: #f5f6f7;
}

.main-wrapper input:focus{
  outline: 2px solid rgb(8, 199, 162);
}

.main-wrapper button {
  background-color: #444950;
  padding: 20px 40px;
  font-size: 20px;
  color: #f5f6f7;
  border-radius: 10px;
}

.footer {
  background-color: #282c34;
  flex-shrink: 0;
  padding: 20px;
  color: #f5f6f7;
}

.footer a {
  font-size: 12px;
}